body{
    background-color: black;
}

.gallery-containers{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 90vh;

}

.gallery-container-caption{
    height: 100%;
    width: 40%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.gallery-container-img{
    width: 40%;
    object-fit: contain;
}

html.lenis, html.lenis body {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }