body{
    margin: 0;
    padding: 0;
    background-color: rgb(255 175 27);
}

h1,h2,h3,h4{
    margin: 0;
}

.hero{
    width: 100%;
}

.hero-backgrounds{
    width: 100%;
    position: relative;
    height: 60vh;
}

.hero-background{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200vh;
}

.title{
    margin-top: 30px;
    font-size: 60px;

}